---
#
# Copyright (c) 2018 by Delphix. All rights reserved.
#

# Include variables and define needed variables.
- name: Include OS-specific variables.
  include_vars: "{{ ansible_os_family }}.yml"

- name: Define packages.
  set_fact:
    packages: "{{ __packages | list }}"
  when: packages is not defined

# Install OS-specific packages
- include_tasks: setup-{{ ansible_os_family }}.yml

#
# Configure the 'delphix' user and home directory
#
- name: Add Delphix group
  group:
    name: "{{ delphix_group }}"

- name: Add Delphix user
  user:
    name: "{{ delphix_user }}"
    home: "{{ delphix_home }}"
    group: "{{ delphix_group }}"
    comment: "{{ user_comment }}"

- name: Create delphix directories
  file:
    path: "{{ item.path }}"
    owner: "{{ delphix_user }}"
    group: "{{ delphix_group }}"
    mode: "{{ item.mode }}"
    state: directory
  with_items:
    - { path: "{{ delphix_toolkit }}", mode: "0770" }
    - { path: "{{ delphix_home }}/.ssh", mode: "0700" }
    - { path: "{{ delphix_mount }}", mode: "0700" }

- name: Create empty authorized keys
  file:
    path: "{{ delphix_home }}/.ssh/authorized_keys"
    owner: "{{ delphix_user }}"
    group: "{{ delphix_group }}"
    mode: 0600
    state: touch

- name: Set SSH key
  blockinfile:
    dest: "{{ delphix_home }}/.ssh/authorized_keys"
    state: present
    block: |
      {{ item.key }}
    marker: "# {mark} ANSIBLE MANAGED BLOCK {{ item | hash('md5') }}"
  with_items: "{{ delphix_ssh_keys }}"
  when: delphix_ssh_keys is not none

#
# This role will configure sudoers for use as a target on any platform. If more
# fine-grained access is required, this could be placed behind a number of
# variables to tune it for platforms. It could also be tightened up to only
# allow commands with specific arguments.
#
- name: Configure delphix user for sudo
  blockinfile:
    dest: /etc/sudoers
    state: present
    block: |
      Defaults:{{ delphix_user }} !requiretty
      {{ delphix_user }} ALL=NOPASSWD: {{ allowed_sudo_commands | join(', ')  }}
    validate: "visudo -cf %s"
